      <div class="top_bar padding_bar">
      <div class="name_bar">
      <a href="#">Tom</a>
    </div>
      <div class="new_chat">
      <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="user_bar padding_bar">
      <div class="chat_room">
      <div class="chat_name">
      <a href="#">techroom1</a>
      </div>
        </div>
            <div class="chat_room">
            <div class="chat_name">
            <a href="#">techroom2</a>
            </div>
            </div>
    </div>