<div class="wrapper">
  <div class="side_bar">
    <div class="top_bar padding_bar">
    </div>
    <div class="user_bar padding_bar">
    </div>
  <%# サイドバーの部分テンプレ %>
  <%# render "side_bar" %>
  </div>
  <div class="main_chat">
    <div class="main_room">
    </div>
    <div class="chat">
    </div>
    <div class="chat_input">
    </div>
  <%# メイン画面の部分テンプレ %>
  <%# render "main_chat" %> 
  </div>
</div>